/*default*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*---------*/
body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #49816f;
  max-width: 70%;
}

.search {
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search__field-city {
  margin: 30px auto;
  width: 200px;
  height: 40px;
  border-radius: 7px;
  border: 2px solid #254138;
  font-size: 20px;
}

.seacrh__butt-text {
  width: 120px;
  height: 30px;
  border-radius: 4px;
  border: 2px solid #254138;
  font-size: 18px;
  font-weight: 600;
}
.seacrh__butt-text:hover {
  border: 2px solid #5a9e89;
  cursor: pointer;
}

.weatherCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 400px;
  background-color: #ccc;
  border-radius: 30px;
  border: 2px solid #000;
}

.card__desc {
  margin: 0 10px;
}

.city__name {
  margin: 20px 0 0 0;
  text-align: center;
}

.curr__city,
.clouds__desc {
  font-size: 30px;
  font-weight: 500;
  color: #393838;
}

.curr__ico {
  display: flex;
  justify-content: center;
}

.weather__ico {
  width: 75px;
  height: 75px;
  background-size: 100%;
}

.curr__temp,
.feels__temp {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.feels__temp {
  margin: 10px 0 0 0;
}

.temp__text {
  font-size: 22px;
  color: #393838;
  margin: 0 10px 0 0;
}

.temp__value {
  font-size: 35px;
  font-weight: 600;
  color: #fff;
}

.clouds {
  margin: 10px 0 0 0;
  text-align: left;
}